.heavy{
  font-family: $fira;
  font-weight: 400;
}

.light{
  font-family: $fira;
  font-weight: 300;
}

a{
  text-decoration: none!important;
}

.fix-margin{
  margin-bottom: 0px;
  margin-top: 0px;
}

.mobile-tile-correction{
  margin-bottom: -15px;
}

@media screen and (min-width:992px){
  .namePlate{
    font-size: 25px;
    text-align: right;
    padding-right: 7px;
  }
  .shadow{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  .shadow:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  .desktop-hide{
    display:none;
  }
  header{
    height: 620px;
    margin-top: 180px;
    #logo{
      width: 350px;
      display: block;
      margin: auto;
    }
    p{
      font-size: 27px;
      line-height: 120%;
      padding-top: 60px;
      color: $black;
    }
    #social{
      padding-top: 25px;
      padding-bottom: 55px;
      #codepen{
        width: 50px;
      }
      #github{
        width: 50px;
      }
      #linkedin{
        width: 50px;
      }
      #medium{
        width:50px;
      }
    }
    hr{
      border-top: 1px solid #8c8b8b;
      width: 1000px;
      color: #181A1A;
    }
  }
  article{
    height:900px;
    #heading{
      text-align: center;
      color: $black;
      font-size: 25px;
      padding-bottom: 150px;
    }
    #tiles{
      p{
        color: $white;
      }
      .weatherTile{
        background-color: $black;
        width: 100%;
        height: 600px;
        #sun{
          width: 150px;
          display: block;
          margin: 0 auto;
          padding-top: 100px;
          padding-bottom: 50px;
        }
        #weaNamePlate{
          padding-top: 90px;
        }
      }
      .todosTile{
        background-color: #ff3b3f;
        width:100%;
        height: 315px;
        #todo{
          width: 125px;
          display: block;
          margin: 0 auto;
          padding-top: 85px;
        }
        #todoNamePlate{
          padding-top: 35px;
        }
      }
      .calcTile{
        background-color: #3cc47c;
        width: 100%;
        height: 315px;
        margin-left: -20px;
        #calc{
          width: 150px;
          display: block;
          margin: 0 auto;
          padding-top: 75px;
        }
        #calcNamePlate{
          padding-top: 20px;
        }
      }
      .twitchTile{
        background-color: #062f4f;
        width: 100%-2.7%;
        height: 275px;
        margin-top: 10px;
        #twitch{
          width: 125px;
          display: block;
          margin: 0 auto;
          padding-top: 55px
        }
        #twitchNamePlate{
          padding-top: 20px;
        }
      }
    }

  }

}

@media screen and (min-width:768px){
  .pad{
    margin-right: 55px!important;
  }
}

@media screen and (max-width: 575px){
  .pad{
    margin-right: 0px;
  }
  .codepen{
    margin-right: -10px;
    margin-left: 5px;
  }
  .medium{
    margin-right: -10px;
    margin-left: -10px;
  }
  .github{
    margin-right: -10px;
    margin-left: -10px;
  }
  .linkedin{
    margin-right: -10px;
    margin-left: -10px;
  }
}

@media screen and (max-width: 991px){
  .mobile-hide{
    display:none;
  }
  .pad{
    margin-right:35px;
  }
  header{
    height: 100vh;
    padding-top: 100px;
    #logo{
      width:250px;
      display: block;
      margin: auto;
    }
    p{
      text-align: center;
    }
    .name{
      font-size: 35px;
      margin-top: 30px;
    }
    .role{
      font-size: 25px;
    }
    hr{
      border-top: 1px solid #181A1A;
      width: 250px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    #social{
      #codepen{
        width: 28px;
      }
      #github{
        width: 28px;
      }
      #linkedin{
        width: 28px;
      }
      #medium{
        width:28px;
      }
    }
  }
  article{
    height: 65vh;
    p{
      color: $white;
      text-align: center;
      font-size: 25px;
      padding-top: 25px;
    }
    #tiles{
      .weatherTile{
        width:100%;
        height: 75px;
        background-color: $black;
      }
      .todoTile{
        width:100%;
        height: 75px;
        background-color: #ff3b3f;
      }
      .calcTile{
        width:100%;
        height: 75px;
        background-color: #3cc47c;
      }
      .twitchTile{
        width:100%;
        height: 75px;
        background-color: #062f4f;
      }
    }
  }
}
